.slick-carousel {
  width: 100%;
  max-width: 500px; 
  overflow-x: show;
}

@media screen and (max-width: 500px) {
  .slick-carousel {
    max-width: 350px;
  }
}

.slick-list {
  overflow: visible;
}

.slick-next {
  position: absolute;
  right: 2rem !important;
  z-index: 1;
  transform: scale(2), translateY(-50%);
}

.slick-prev {
  position: absolute;
  left: 0.5rem !important;
  z-index: 1;
}

.slick-next::before, .slick-prev::before {
  font-size: 2.5rem;
  color: #ce5c76;
  background-color: white;
  border-top: 2.5px solid white;
  border-radius: 50%;
}

.slick-dots li button:before {
  font-size: 1rem;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}
.slick-dots li {
  margin: 2px 3px;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-card-button {
  margin: 1rem;
  padding:  1rem 2rem;
  background: rgba(0, 0, 0, 0.2); 
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.slick-card-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.slick-star {
  position: absolute;
  color: purple;
  top: 0.2rem;
  left: 0.2rem;
  font-size: 2.5rem;
  background: none;
  border: none;
  opacity: 0.2;
  cursor: pointer;
}

.slick-star:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

.starred {
  opacity: 1;
}