@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
  color: white;
  font-family: 'Ropa Sans', sans-serif;
}

html, body { 
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

.background {
  background-color: #031426;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.background::after {
  content: "";
  background-size: cover;
  background-image: url('./background1.jpg');
  background-position: 50% 0%;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.images-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.images-row img {
  margin: 0.1rem;
  max-width: 100% !important;
}

figcaption {
  font-style: italic;
}

figure {
  text-align: center;
  max-width: 95vw;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 800px) {
  .images-row {
    display: block;
    flex-direction: column;
  }

  .images-row img {
    flex: auto;
  }
}