#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.list-of-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meteor-image {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.MuiPaper-root {
  background: rgb(34, 54, 76); 
}

.BrainhubCarousel__arrows {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.BrainhubCarousel__arrowLeft {
  left: 0.5rem;
}

.BrainhubCarousel__arrowRight {
  right: 0.5rem;
}

.slick-list {
  overflow: visible;
}

.slick-next {
  position: absolute;
  right: 2rem !important;
  z-index: 1;
  transform: scale(2), translateY(-50%);
}

.slick-prev {
  position: absolute;
  left: 0.5rem !important;
  z-index: 1;
}

.slick-next::before, .slick-prev::before {
  font-size: 2.5rem;
  color: #ce5c76;
  background-color: white;
  border-top: 2.5px solid white;
  border-radius: 50%;
}

.slick-dots li button:before {
  font-size: 1rem;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}
.slick-dots li {
  margin: 2px 3px;
}