@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
  color: white;
  font-family: 'Ropa Sans', sans-serif;
}

html, body { 
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

.background {
  background-color: #031426;
  background-size: cover;
  background-image: url('./background1.jpg');
  background-position: 50% 0%;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}